@import "variables";
@import "main";


//==========  Mobile First Method  ==========

// Custom, iPhone Retina
@media only screen and (min-width : 320px) {

  #btn-clear {
    width: auto;
  }

  .btn-danger {
    width: 100%;
    float: none;
  }

  .clearfix {
    padding-top: 120px;
  }

  .custom {
    padding-bottom: 10px;
    text-align: center;
    border: none;
  }

  #footer {
    background-color: $black;
    text-align: center;
    a:hover {
      color: $purple;
      color: $white;
      cursor: pointer;
    }
    center {
      color:$white;
    }
  }

  #form-spacing {
    width: 100%;
    text-align: center;
  }

  #form-spacing2 {
    width: 100%;
  }

  html {
    text-align: center;
    th {
      text-align: center;
    }
  }

  #logo {
    bottom: 15px;
    height: 54px;
    position: relative;
    width: 90px;
  }

  #main_content {
    text-align: center;
  }

  .navbar-default {
    background-color: $black;
    border-color: $black;
    height: 57px;
  }
}

// Extra Small Devices, Phones
@media only screen and (min-width : 480px) {

  .btn-danger {
    float: none;
    width: 100%;
  }

  #footer {
    background-color: $black;
    padding-top: 50px;
    text-align: center;
    a:hover {
      color: $purple;
    }
    center {
      color: $white;
    }
  }

  #form-spacing {
    width: 100%;
  }
}

// Small Devices, Tablets
@media only screen and (min-width : 768px) {

}

// Medium Devices, Desktops
@media only screen and (min-width : 992px) {

  .btn-danger {
    height: 55px;
    margin-bottom: 18px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 18px;
    width: 130px;
  }

  .custom {
    border-left: solid;
    color: $black;
    padding-bottom: 15px;
    text-align:left;
  }

  #footer {
    padding-top: 50px;
    text-align: left;
    a:hover {
      color: $purple;
    }
    center {
      color: $white;
    }
  }

  #form-spacing {
    width: 50%;
    text-align: left;
  }

  #form-spacing2 {
    width: 50%;
  }

  #logo {
    height: 95px;
    width: 200px;
  }

  .navbar-default {
    background-color: $black;
    border-color: $black;
    height: 100px;
  }
}

// Large Devices, Wide Screens
@media only screen and (min-width : 1200px) {

}
