<p>
  {{link-to "Product list" "products.index" }}
</p>

<h1>Product show</h1>

<p>
  <strong>Name:</strong>
  <span>{{model.name}}</span>
</p>

<p>
  <strong>Price:</strong>
  <span>{{model.price}}</span>
</p>

<p>
  <strong>Description:</strong>
  <span>{{model.description}}</span>
</p>

