  {{outlet}}
  <div class="footer">
  	<a style="color: blue"href="#">Feedback</a>
  	<a style="color: blue"href="#">About Us</a>
  	<a style="color: blue"href="#">Sitemap</a>
  	<hr>
  	<center style="color: blue"><font size="1">Website designed and maintained by &copy JP 2015 </font></center>

  </div>
