{{outlet}}

<div id="footer" class="container-fluid footer">

	<div class="row col-sm-12">

		<a>{{#link-to "english-contactus"}}Feedback{{/link-to}}</a>

		<a>{{#link-to "english-aboutus"}}About Us{{/link-to}}</a>

		<a>Sitemap</a>

		<hr>
		<center>
			<font size="1">Website designed and maintained by &reg;JP 2015&copy;</font>
		</center>
	</div>
</div>
