<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#dropdown-nav">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--<a class="navbar-brand" href="#">This is myLogo</a>-->
       <a class="navbar-brand" href="#">
       <img class="img-responsive" id="logo" src="logo.png" alt="home">
       </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="dropdown-nav">
      <ul class="nav navbar-nav">
      <div class="col-xs-5 col-sm-3 pull-right">
        <form class="navbar-form" role="search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
            </div>
          </div>
        </form>
      </div>
        <li class="active"><button class="btn btn-danger">Used Vehicles</button><span class="sr-only">(current)</span></li>
        <li><button class="btn btn-danger">New Vehicels</button></li>
       <!-- <li><button class="btn btn-danger">Auto Parts</button></li>
        <li><button class="btn btn-danger">Services</button></li>-->
        <li><button class="btn btn-danger">Contact Us</button></li>
        <li><button class="btn btn-danger">About Us</button></li>
      </ul>
    </div><!-- /.navbar-collapse -->    
  </div><!-- /.container-fluid -->
</nav>

<div id="left1">
<h3 style="color:black">About Us</h3>
  <p style="color:black">
    <img src="wrx.jpg" alt="hydroponics" width="280" height="180" align="left" />
  The study of crop nutrition began thousands of years ago.
  Ancient history tells us that various experiments were
  undertaken by Theophrastus (372-287 B.C.), while several
  writings of Dioscorides on botany dating from the first century
  A.D., are still in existence. The earliest published work on
  growing terrestrial plants without soil was the 1627 book,
  Sylva Sylvarum by Sir Francis Bacon, printed a year after his
  death. Water culture became a popular research technique after
  that. In 1699, John Woodward published his water culture
  experiments with spearmint. He found that plants in less pure
  water sources grew better than plants in distilled water. By 
  1842 a list of nine elements believed to be essential to plant
  growth had been made out, and the discoveries of the German
  botanists, Julius von Sachs and Wilhelm Knop, in the years
  1859-65, resulted in a development of the technique of soilless
  cultivation. Growth of terrestrial plants without soil in
  mineral nutrient solutions was called solution culture. It
  quickly became a standard research and teaching technique and
  is still widely used today. Solution culture is now considered
  a type of hydroponics where there is no inert medium. In 1929,
  Professor William Frederick Gericke of the University of
  California at Berkeley began publicly promoting that solution
  culture be used for agricultural crop production. He first
  termed it aquaculture but later found that aquaculture was
  already applied to culture of aquatic organisms. Gericke
  created a sensation by growing tomato vines twenty-five feet
  high in his back yard in mineral nutrient  solutions rather than
  soil. By analogy with the859-65, resulted in a development of the technique of soilless
  cultivation. Growth of terrestrial plants without soil in
  mineral nutrient solutions was called solution culture. It
  quickly became a standard research and teaching technique and
  is still widely used today. Solution culture is now considered
  a type of hydroponics where there is no inert medium. In 1929,
  Professor William Frederick Gericke of the University of
  California at Berkeley began publicly promoting that solution
  culture be used for agricultural crop production. He first
  termed it aquaculture but later found that aquaculture was
  already applied to culture of aquatic organisms. Gericke
  created a sensation by growing tomato vines twenty-five feet
  high in his back yard in mineral nutrient  solutions rather than
  soil. By analogy with the
  </p>
 </div>
