
<div class="main_title">
  <h1>
    Welcome to Dealer_Demo!
  </h1>
  <div class="language">
    <button name="english_btn" class="btn btn-danger">{{#link-to "english_main"}}English{{/link-to}}</button>
    <button name="french_btn" class="btn btn-primary">{{#link-to "french_main"}}Français{{/link-to}}</button>

  </div>
</div>
