
<div class="main_title">
  <h1 class="landing-title">
    Welcome to Dealer_Demo!
  </h1>
  <div class="language">
    <p> This is from font-awesome!</p>
    <p>{{fa-icon "camera"}}</p>
    <button name="english_btn" class="btn btn-danger">{{#link-to "english_main"}}English{{/link-to}}</button>
    <button name="french_btn" class="btn btn-primary">{{#link-to "french_main"}}Français{{/link-to}}</button>

  </div>
</div>
